<!DOCTYPE html>
<html>
    <head>
        <% include ../partials/header.ejs %>
        <title>Postage Price Calculations - Results</title>
    </head>
    <body class="container">
        <div class="row">
            <h1 class="col-xs-12 center">Results</h1>
        </div>
        <div class="row">
            <h1 class="col-xs-12">Type of mail: <%= mailType %></h1>
        </div>
        <div class="row">
            <h1 class="col-xs-12">Weight: <%= weight %></h1>
        </div>
        <div class="row">
            <h1 class="col-xs-12">Cost: <%= cost %></h1>
        </div>
    </body>
</html>
